@model Application.ViewModels.TasksListViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-12 col-md-4"></div>
    <div class="card">
        <div class="card-header bg-primary text-light">
            <h5 class="text-center">To Do List :)</h5>
        </div>

        @if (Model.Tasks.Count == 0)
        {
            <div class="card-body">
                <div class="alert alert-info">No hay tareas creadas.</div>
            </div>
        }
        else
        {
           
                <table class="table table-bordered">
                    <tbody>
                        @foreach (var task in Model.Tasks)
                        {
                            <tr>
                                <td>@task.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>

        }

        <div class="card-footer">
            <form asp-action="AddTask" method="post">
                <input name="name" class="form-control" placeholder="Nueva tarea" />

                @if (TempData.ContainsKey("Error") && !string.IsNullOrEmpty(TempData["Error"]?.ToString()))
                {
                    <div class="alert alert-danger mt-2">
                        @TempData["Error"]
                    </div>

                    {
                        TempData.Remove("Error");
                    }
                }

                <button type="submit" class="btn btn-success mt-2">Agregar</button>
            </form>
        </div>
    </div>
</div>
