<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - ToDoList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">ToDoList</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                @if (Context.Session.GetString("UserId") != null)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">Cerrar sesión</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Registro</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
